<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href={{asset("css/headerFooterStyle.css")}} >
        <link rel="stylesheet" href={{asset("css/reset.css")}} >
        <link rel="stylesheet" href={{asset("css/homePage.css")}} >
        <link rel="stylesheet" href={{asset("css/index.css")}} >
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
        <body>
                <header class="">
                    <ul class="menu-ul">
                        <li class="links-menu"><a href="{{ path('app_home', {slut: 'Marcel-Pouvreau-portfolio'}) }}">Home</a></li>
                        <li class="links-menu"><a href="{{ path('app_works')}}">Works</a></li>
                        <li class="links-menu"><a href="#">Resume</a></li>
                        <li class="links-menu"><a href="#">About me</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="links-menu"><a href="#">Logout</a></li>
                            <li class="links-menu"><a href="{{ path('app_works_form')}}">AddWork</a></li>
                        {% endif %}
                    </ul>
                </header>
                {% block body %}

                {% endblock %}                
                <div class="footer-container">
                        <a href="#">Contactez-moi</a>
                        <p class="copyright">© Marcel Pouvreau, 2023</p>

                    <div class="network-container">
                        <a href="https://github.com/marcelpouvreau"><img class="icons" src="{{ asset ("images/github.png")}}" alt="Marcel Pouvreau github Link"></a>
                        <a href="https://www.linkedin.com/in/marcel-pouvreau/"><img class="icons" src="{{ asset ("images/linkedin.png")}}" alt="Marcel Pouvreau linkedin Link"></a>
                        <a href="https://www.instagram.com/marcelpouvreau/"><img class="icons" src="{{ asset ("images/instagram.png")}}" alt="Marcel Pouvreau Instagram Link"></a>
                    </div>
                </div>        
        </body>
</html>
