{% extends 'base.html.twig' %}

{% block title %}POUVREA Marcel Works{% endblock %}

{% block body %}
<div class="container">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_works_form') }}" class="btn-addNew-work">Adicionar</a>
        {% endif %}

        {% for works in worksList %}
    <div class="works-container">
                <div class="works-name-link">
                    <p class="works-p">
                        {{ works.name }}
                    </p> 
                </div>
                <img class="works-img" src="{{ asset('Uploads/works/my_portfolio.png')}}">
                    {{ works.image }}
                </img>
                <div class="works-name-link">
                    <a class="works-a" href="{{ works.url }}">
                        Link to the site
                    </a>
                </div>
                
                {% if is_granted('ROLE_ADMIN') %}
                <div class="options-container">
                    <a href="{{ path('app_edit_works_form', {works: works.id}) }}" class="edit-btn">
                        E
                    </a>
                    <form method="post" action="{{ path('app_delete_works', {id: works.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">

                        <button class="delete-btn">
                            X
                        </button>
                    </form>
                </div>
                {% endif %}
    </div>
        {% endfor %}
</div>
{% endblock %}
