{% extends 'base.html.twig' %}

{% block title %}POUVREA Marcel Works{% endblock %}

{% block body %}
<div class="container">
    <div>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_works_form') }}" class="btn-addNew-work">Adicionar</a>
        {% endif %}
    </div>

    <div class="works-container">
        {% for works in worksList %}
            <li>
                <p class="works-p">
                    {{ works.name }}
                </p> 
                <a href="#">
                    {{ works.url }}
                </a>
                <img src="{{ asset('images/fireworks.jpg')}}">
                    {{ works.image }}
                </img>

                <div class="options-container">
                    <a href="{{ path('app_edit_works_form', {works: works.id}) }}" class="edit-btn">
                        E
                    </a>
                    <form method="post" action="{{ path('app_delete_works', {id: works.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">

                        <button class="delete-btn">
                            X
                        </button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </div>
</div>
{% endblock %}
